.site-layout-background .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo-container {
  align-items: center;
  text-align: center;
  padding-top: 16px;
}

.logo {
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF10;

}

.logo img {
  width: 100%;
}

.site-layout-background .trigger:hover {
  color: #1890ff;
}

.site-layout-background .trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
